body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.content {
    text-align: center;
    padding: 10px;
    color: white;
}

#grille {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3, 1fr) 4fr 1fr;
    grid-template-areas: 
                        "header header header"
                        "nav nav nav"
                        "info navSecondaire aside"
                        "info main aside"
                        "footer footer footer";

}

header {
    background-color: #0c65a7;
    grid-area: header;
}
nav {
    background-color: #124b78;
    grid-area: nav;
}

#info {
    background-color: #bdddf7;
    grid-area: info;
}
#navSecondaire {
    background-color: #ccccfc;
    grid-area: navSecondaire;
}
#main {
    background-color: #16a2c5;
    grid-area: main;
}
aside {
    background-color: #5275ad;
    grid-area: aside;
}

footer {
    background-color: #7ccce3;
    grid-area: footer;
}
