body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding: 10px;
    text-align: center;
    color: #fff;
}

#grille {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas: 
                        "header header header"
                        "slide slide slide"
                        "section1 section2 section3"
                        "footer footer footer";
    grid-gap: 3px;
}

header {
    background-color: #fa7559;
    grid-area: header;
}
#slide {
    background-color: #47dee6;
    grid-area: slide;
}
section {
    background-color: #b3b3b3;
}

#section1 {
    grid-area: section1;
}
#section2 {
    grid-area: section2;
}
#section3 {
    grid-area: section3;
}


footer {
    background-color: #0c6222;
    grid-area: footer;
}