body {
    padding: 0px;
    margin: 0;
}
#grille {
    display: grid;
    height: 700px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 120px);
    grid-auto-flow: inherit;
    justify-content: center;
    align-content: center;
}

#grille div {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.un {
    background-color: #9cf;
}
.deux {
    background-color: #9a1;
}
.trois {
    background-color: #7ef;
}
.quatre {
    background-color: #fc9;
}
.cinq {
    background-color: #9c4;
}
.six {
    background-color: #9cf;
}
.sept {
    background-color: #2cf;
}
.huit {
    background-color: #fcf;
}