
body {
    padding: 0;
    margin: 0;
    background-color: #000;
}
#grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    /*grid-column-gap: 10px;
    grid-row-gap: 15px;*/
    grid-gap: 10px;
    height: 600px;
    width: 90%;
    margin: auto;
    background-color: #fff;
}
#grille div {
    padding: 8px;
    border: 1px solid;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.un {
    background-color: #fc9;
}
.deux {
    background-color: #f2c;
}
.trois {
    background-color: #fa9;
}
.quatre {
    background-color: #ec9;
}
.cinq {
    background-color: #aa9;
}
.six {
    background-color: #fc7;
}
.sept {
    background-color: #ee9;
}
.huit {
    background-color: #fc9;
}